<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

	<mvc:annotation-driven />
	
	<context:component-scan
		base-package="com.youngculture.SimpleWebShop" />
	<mvc:resources mapping="/resources/**"
		location="/resources/" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="dataBaseInitializing"
		class="com.youngculture.SimpleWebShop.config.DataBaseInitializing">
		 <constructor-arg ref="productRepositoryBean"/>
	</bean>

	<bean id="entityManagerBean"
		class="com.youngculture.SimpleWebShop.integration.api.EntityManagerBean">
		 <constructor-arg ref="dBObjectsFactory"/>
		  <constructor-arg ref="jSonDBManager"/>
	</bean>

	<bean id="dBObjectsFactory"
		class="com.youngculture.SimpleWebShop.integration.api.DBObjectsFactory">
	</bean>

	<bean id="jSonDBManager"
		class="com.youngculture.SimpleWebShop.integration.api.JSonDBManager">
	</bean>

	<bean id="productRepositoryBean"
		class="com.youngculture.SimpleWebShop.integration.repo.ProductRepositoryBean">
		 <constructor-arg ref="entityManagerBean"/>
	</bean>
</beans>		